//primary colors
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
//secondary colors
$transparent-white: hsla(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0, 0%, 95%);
//-------------------------------------------------------------------
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: 'Lexend Deca';
    width: 100vw;
    min-height: 100vh;
    background: $very-light-gray;
    display: grid;
    justify-content: center;
    align-content: center;
}

.card {
    max-width: 32.7rem;
    border-radius: 0.8rem;
    overflow: hidden;
    color: $transparent-white;
    margin-top: 6rem;
    margin-bottom: 1rem;

    &__component {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        min-height: 44.2rem;
        padding: 4.9rem;

        &--sedan {
            background: $bright-orange;
        }

        &--suv {
            background: $dark-cyan;
        }

        &--luxury {
            background: $very-dark-cyan;
        }
    }

    &__image {
        margin-bottom: 1rem;
        gap: 4rem;
    }

    &__component-title {
        font-family: 'Big Shoulders Display';
        font-size: 3.3rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
        gap: 4rem;
    }

    &__component-description {
        font-size: 1.5rem;
        line-height: 2.2rem;
        margin-bottom: 2rem;
        min-height: 13rem;
    }

    &__component-button {

        padding: 1.5rem 3.6rem;
        font-weight: 700;
        color: transparent;
        background: $very-light-gray;
        border-radius: 3rem;
        border: 0.1rem solid $very-light-gray;
        cursor: pointer;
        transition: all 0.3s linear;
        font-size: 1.3rem;

        &--sedan {
            color: $bright-orange;
        }

        &--suv {
            color: $dark-cyan;
        }

        &--luxury {
            color: $very-dark-cyan;
        }

    }
    &__component-button:hover {
        background: transparent;
        color: $very-light-gray
    }
}

.attribution {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 6rem;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

@media screen and (max-width: 35rem) {
    .card {
        margin: 6rem 2rem 0 2rem;
    }
}

@media screen and (min-width: 50rem) {
    .card {
        max-width: 92rem;
        min-height: 50rem;
        display: flex;
        flex-wrap: wrap;

        &__component {
            width: 33.33%;
        }
    }
}
